<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.StudentidMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Studentid">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="studentId" jdbcType="VARCHAR" property="studentid" />
    <result column="openId" jdbcType="VARCHAR" property="openid" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="className" jdbcType="VARCHAR" property="classname" />
  </resultMap>
  <update id="updateByIDSelective" parameterType="com.company.project.dao.StudentidMapper">
    update studentid
    <set>
      openId      = #{openid,jdbcType=VARCHAR}
    </set>
    where studentId = #{studentid,jdbcType=VARCHAR}
  </update>
</mapper>